{
    "root": true,
    "extends": [
        "airbnb-typescript",
        "@react-native-community",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react"
    ],
    "rules": {
        "prettier/prettier": 0,
        "import/prefer-default-export": 0
    }
}
